<header ng-include="'templates/generic.toolbar.html'" class="app-toolbar"></header>
<main class="pure-g app-view">
    <section class="pure-u-1 pure-u-md-1-2 layout--box layout--center-in">
        <header>
            <h2 class="">Icon theme</h2>
        </header>
        <svg class="UI-icon">
          <use xlink:href="#icon--progrees-circle" />
        </svg>
        <svg class="UI-icon">   
          <use xlink:href="#icon--alert-circle" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--information" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--notification-new" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--notification" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--bookmark-active" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--bookmark-hover" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--bookmark" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--group-add" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--like-active" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--like" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--person-add" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--person" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--account" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--add" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--apps" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--back" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--chart-bar" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--check" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--close" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--color-lens" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--copy" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--dashboard" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--delete" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--download" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--drag-vertical" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--drop" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--edit" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--email" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--expand-less" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--expand-more" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--eye-active" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--eye" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--filter" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--link" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--lock-open" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--lock" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--menu-down" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--menu-up" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--menu" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--message" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--more-vertical" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--paste" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--refresh" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--search" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--send" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--share" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--tag-multiple" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--tag" />
        </svg>
        <svg class="UI-icon">
          <use xlink:href="#icon--url" />
        </svg>
            </section>
</main>
